:root{
/* colors and fonts */

}




html{
    box-sizing: border-box;
    font-size: 62.5%;  /* = font-size = 10 px =>   */
    scroll-behavior: smooth ;
}

*,*:after,*::before{
    box-sizing: inherit;

}

body{
    line-height: 1.6;
    font-family:var(--primery-font); 
    font-size: 1.6rem;      /* font => 1rem = 10px*/
    background-color: var(--app-bg);

    font-family: "Estedad Semibold";
    overflow-x: hidden;


}

/* reset */
a{
    text-decoration: none
    ;
}

/* -- App -- */



/* header */

.header{
   
    background: linear-gradient(90deg, rgba(35, 35, 35, 0.69) 1.04%, rgba(28, 28, 28, 0.78) 100%) ,  url(../images/gallery2.jpg) ;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    /* margin-bottom: 20rem; */
    /* z-index: -3; */
    padding-top: 3rem;
    /* position: relative; */
    

}

.nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
 
    background: #d9d9d957;
    /* background-blend-mode: overlay; */
    backdrop-filter: blur(14.5px);
    border-radius: 22px;

    animation-name: nav;
    animation-duration: 1s;
    /* animation-delay: .5s; */
    animation-fill-mode: backwards;

}
.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */

}
.app-logo{
    margin-left: 2rem;
   
}
.nav-menu{
    display: flex;
    justify-content: space-between;
}
.nav-menu__links{
    

}
.nav-menu__link{
    display: inline-block;
    color: #fff;
    margin: 0 2rem;
    transition: 200ms ease-in;
}
.nav-menu__link:hover{
    color: #02C39A;
}
.nav-menu__btns{
    margin-left: 2rem;
    text-align: center;
    cursor: pointer;

}
.nav-menu__btn{
    padding: 1.1rem 0;
    display: inline-block;
    margin: 0 1rem;
    color: #fff;
    width: 9.5rem;
    height: 5rem;
    background-color: #02C39A;
    border-radius: .8rem;
    cursor: pointer;



}

.nav-menu__btn--outline{
    border: 2px solid #02C39A;
    border-radius: 10px;
    background-color: transparent;
    color: #02C39A;
    
}

.nav__toggle-icon{
    display: flex;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav__toggle-line{
    
    position: relative;
    
    
}

.nav__toggle-line,
.nav__toggle-line::after,
.nav__toggle-line::before{
    content: '';
    width: 4rem;
    height: 0.4rem;
    background-color: #02C39A;
    border-radius: 2rem;
    transition: all 200ms ease-in;
}
.nav__toggle-line::after{
    position: absolute;
    top: 1rem;
}
.nav__toggle-line::before{
    position: absolute;
    top: -1rem;
}

.nav__toggle-icon--open .nav__toggle-line{
    background: transparent;
    
}
.nav__toggle-icon--open .nav__toggle-line::before{
    transform: translateY(1rem) rotate(45deg);
    
}
.nav__toggle-icon--open .nav__toggle-line::after{
    transform: translateY(-1rem) rotate(-45deg);
    
}


/* mobile menue  */
.nav-mobile{

}

.nav-mobile__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
 
    background: #d9d9d957;
    
    backdrop-filter: blur(14.5px);
    border-radius: 22px;
}


.nav-mobile__wrapper{
    
    background: #201f1f;
    
   
   
    position: fixed;
    top:0;
    bottom: 0;
    left: -25rem;
    width: 25rem;
    padding: 2.5rem;
    transition: all 250ms ease-in-out;
    z-index: 99;
  
}
.nav-mobile__wrapper--open{
    left: 0;
}

.mobile__app-logo img{
    width: 5rem;
    height: 5rem;
}


/* Header contetn */

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 12rem;
    gap: 2rem;

}
.header-content__title{
    font-family:Bahman ;
    font-size: 6rem;
    color: #E6E6E6;
    animation-name: anim;
    animation-duration: 2s;
    
}
.header-content__description{
    font-family: "Estedad SemiBold";
    max-width: 50rem;
    color: #E6E6E6;
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
    
    
}
.header-content__btn{
    background-color: #02C39A;
    color: #E6E6E6;
    padding: 1.5rem 3.2rem;
    border-radius: .8rem;

    animation-name: anim;
    animation-duration: 2s;
    animation-delay: .8s;
    animation-fill-mode: backwards;


}




/*
=======================
        main
=======================
 */


 /* services */

 .services{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 6rem;
    margin: -8rem 0 20rem  0;
    
}
.servic{
    background-color: #fff;
    z-index: 40;
    box-shadow: 17px 17px 23px -3px rgba(0, 0, 0, 0.244);
   padding: 3rem 6rem;
   border-radius: 1rem;
   /* margin: 20rem 0; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;

   animation-name: anim2;
   animation-duration: 3s;
   animation-delay: .5s;
   animation-fill-mode: backwards;
}
.service__img{
    width: 7rem;
}
.service__number{
    font-family: "Estedad Bold";
    font-size: 2rem;
    
}
.service__Title{
    font-family: "Estedad SemiBold";

}




/* About Us Section  */

.about-us{
    margin: 10rem 0;

}
.about-us__wrapper{
    display: flex;
    gap: 4rem;
}
.about-us__right{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 50%;
    /* align-items: center; */
    justify-content: center;
}
.about-us__title{
    font-family: "Estedad Black";
    font-size: 4rem;

}
.about-us__description{
    font-family: "Estedad Medium";
    
}
.about-us__link{
    font-family: "Estedad Medium";
    color: #fff;
    background-color: #02C39A;
    padding: 1rem 3rem ;
    width: 16rem;
    border-radius: .8rem;
    text-align: center;
    
}

.about-us__left{
    flex-basis: 50%;
}
.about-us__img{

}




/* newest Section */
 
.newest{
    margin: 10rem 0;

}
.section-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.section-head__title{
    font-family: "Estedad Black";
    font-size: 3rem;
    color: #02C39A;
}
.section-head__line{
    position: relative;
    width: 20rem;
    background-color: #02C39A;
    height: .4rem;
    border-radius: 4rem;
}

.section-head__line::after{
    content: '';
    width: 4rem;
    height: 1rem;
    border-radius: 4rem;
    background-color: #02C39A;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.newest__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 8rem;
    flex-wrap: wrap;
}
.list__item{
    color: #02C39A;
    border: 3px solid #02C39A;
    border-radius: 4rem;
    width: 10rem;
    text-align: center;
    padding: .5rem 0;
    cursor: pointer;

}

.list__item--active{
    color: white;
    background-color: #02C39A;
}


.newesr__cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    gap: 4rem;
    flex-wrap: wrap;

}
.card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 17px 17px 23px -3px rgba(0, 0, 0, 0.244);
    gap: 2rem;

}
.card__img{
    width: 36rem;
    height: 26rem;
}
.card__title{
    font-size: "Estedad Bold";
    font-size: 2.5rem;

}
.card__date{

}
.card__time{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: .5rem;

}
.card-time__text{

}
.card__location{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: .5rem;
}
.card-location__text{

}
.card__signin{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.card__link{
    color: white;
    background: linear-gradient(275.22deg, rgba(2, 195, 154, 0.81) 6.14%, #02C39A 86.57%);
border-radius: 17px;
padding: 1rem 4rem;
text-align: center;
margin-right: .2rem;
margin-top: 1rem;

}
.card__price-parent{
    margin-left: 3rem;
}
.card__price{
    font-size: 2rem;
    

}

.card__price-under{
    font-size: 1.4rem;
    
}

/* gallery section  */

.gallery{
    margin: 20rem 0 10rem 0;
}
.gallery__wrapper{
    margin: 10rem 0;
}

.swiper-pagination{
    position: static !important;
    margin-top: 1rem;
}
.swiper-pagination-bullet{
    width: 2rem !important;
    height: 2rem !important;
    border: 4px solid #bfbebf !important;
    background-color:#fff  !important;
    opacity: 1 !important;
    
}

 .swiper-pagination-bullet-active{
    border-color: #02C39A!important;
 }

 .swiper-content__img{
    width: 100%;
    height: 31.1rem;
    /* object-fit: cover; */

}





/* footer */
.footer{
    padding: 5rem 0 1rem 0;
    background-color: #262F2D;
   margin: 20rem 0 0 0;
   position: relative;
  
}



.footer__arrow{
    width: 5rem;
    height: 5rem;
    background-color: white;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    position: absolute;
    top: -2rem;
    right: 3rem;
    box-shadow: 5px 1px 14px rgba(0, 0, 0, 0.25);
 

}
.footer__arrow svg{
    transform: rotate(90deg);
    
}

.footer__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 2rem;

    font-family: "Estedad Bold";
    color: white;
}
.footer__title{
    font-size: 2.5rem;
    margin-bottom: 2rem;

}
.footer__disc{
    display: flex;
   
    /* justify-content: center; */
    align-items: center;
    
   gap: 1rem;
    

}
.footer__text{

}



.footer__left{

}
.footer__links{
    display: flex;
    gap: 2rem;
    margin-bottom: 0rem;

}
.footer__link{
    border: 2px solid #02C39A;
    border-radius: 1rem;
    color: #02C39A;
    padding: 1rem 4rem;

}
.footer__link--fill{
    color: white;
    background-color: #02C39A;

}
.footer__imgs{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

}
.footer__img{
    cursor: pointer;

}

.footer__social{
    
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}

.creat{
    margin-top: 4rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: rgb(196, 191, 191);

}

.creat a{
    color: #02C39A;
    cursor: pointer;
}



@keyframes anim {
    0%{
        transform: translateX(12rem);
        opacity: 0;
    }   
    100%{
        transform: translateX(0rem);
        opacity: 1;

    } 
}
@keyframes anim2 {
    0%{
        transform: translateY(12rem);
        opacity: 0;
    }   
    100%{
        transform: translateY(0rem);
        opacity: 1;

    } 
}
@keyframes nav {
    0%{
        transform: translateY(-12rem);
        opacity: 0;
    }   
    100%{
        transform: translateY(0rem);
        opacity: 1;

    } 
}



/* =============== Scroll Bar================= */

 /* width */
 ::-webkit-scrollbar {
    width: 8px;
    /* background-color: #262F2D; */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #02C39A;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #02C39A;
    border-radius: 10px;
  } 

