@font-face {
    font-family:"Estedad Black" ;
    src: url(../fonts/Estedad-Black.ttf);
}
@font-face {
    font-family:"Estedad Bold" ;
    src: url(../fonts/Estedad-Bold.ttf);
}
@font-face {
    font-family:"Estedad SemiBold" ;
    src: url(../fonts/Estedad-SemiBold.ttf);
}
@font-face {
    font-family:"Estedad Medium" ;
    src: url(../fonts/Estedad-Medium.ttf);
}
@font-face {
    font-family:"Bahman" ;
    src: url(../fonts/Bahman\ 1.ttf);
}
@font-face {
    font-family:"Bahman Black" ;
    src: url(../fonts/Estedad-Black.ttf);
}