@font-face {
    font-family:"Estedad Black" ;
    src:local("Estedad Black"), url(../fonts/Estedad-Black.ttf);
    font-display: swap;
}
@font-face {
    font-family:"Estedad Bold" ;
    src: local("Estedad Bold"), url(../fonts/Estedad-Bold.ttf);
    font-display: swap;
}
@font-face {
    font-family:"Estedad SemiBold" ;
    src: local("Estedad SemiBold"), url(../fonts/Estedad-SemiBold.ttf);
    font-display: swap;
}
@font-face {
    font-family:"Estedad Medium" ;
    src:local("Estedad Medium"),  url(../fonts/Estedad-Medium.ttf);
    font-display: swap;
}
@font-face {
    font-family:"Bahman" ;
    src: local("Bahman Black"), url(../fonts/Bahman\ 1.ttf);
    font-display: swap;
}
@font-face {
    font-family:"Bahman Black" ;
    src: local("Bahman Black"), url(../fonts/Estedad-Black.ttf);
    font-display: swap;
}