html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* = font-size = 10 px =>   */
    scroll-behavior: smooth;
}

*,
*:after,
*::before {
    box-sizing: inherit;

}

body {
    line-height: 1.6;
    font-family: var(--primery-font);
    font-size: 1.6rem;
    /* font => 1rem = 10px*/
    background-color: var(--app-bg);

    font-family: "Estedad Semibold";
    overflow-x: hidden;


}

/* reset */
a {
    text-decoration: none;
}

/* -- App -- */



/* header */

.header {


    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    /* min-height: 100vh; */
    position: relative;
    /* margin-bottom: 20rem; */
    /* z-index: -3; */
    padding-top: 3rem;
    /* position: relative; */

    /* margin-bottom: 4rem; */

    /* background: radial-gradient(44.56% 50% at 44.56% 50%, #D5F8F0 0%, #02C39A 100%); */
    background-image: url(../images/awsqwq_20.jpg);
    background-size: cover;


}

.nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;

    background: #2E2E2E;

    border-radius: 22px;

}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */

}

.app-logo {
    margin-left: 2rem;

}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.nav-menu__links {}

.nav-menu__link {
    display: inline-block;
    color: #fff;
    margin: 0 2rem;
    transition: 200ms ease-in;
}

.nav-menu__link:hover {
    color: #02C39A;
}

.nav-menu__btns {
    margin-left: 2rem;
    text-align: center;
    cursor: pointer;

}

.nav-menu__btn {
    padding: 1.1rem 0;
    display: inline-block;
    margin: 0 1rem;
    color: #fff;
    width: 9.5rem;
    height: 5rem;
    background-color: #02C39A;
    border-radius: .8rem;
    cursor: pointer;



}

.nav-menu__btn--outline {
    border: 2px solid #02C39A;
    border-radius: 10px;
    background-color: transparent;
    color: #02C39A;

}

.nav__toggle-icon {
    display: flex;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav__toggle-line {

    position: relative;


}

.nav__toggle-line,
.nav__toggle-line::after,
.nav__toggle-line::before {
    content: '';
    width: 4rem;
    height: 0.4rem;
    background-color: #02C39A;
    border-radius: 2rem;
    transition: all 200ms ease-in;
}

.nav__toggle-line::after {
    position: absolute;
    top: 1rem;
}

.nav__toggle-line::before {
    position: absolute;
    top: -1rem;
}

.nav__toggle-icon--open .nav__toggle-line {
    background: transparent;

}

.nav__toggle-icon--open .nav__toggle-line::before {
    transform: translateY(1rem) rotate(45deg);

}

.nav__toggle-icon--open .nav__toggle-line::after {
    transform: translateY(-1rem) rotate(-45deg);

}


/* mobile menue  */
.nav-mobile {}

.nav-mobile__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;

    background: #2E2E2E;


    backdrop-filter: blur(14.5px);
    border-radius: 22px;
}


.nav-mobile__wrapper {

    background: #201f1f;



    position: fixed;
    top: 0;
    bottom: 0;
    left: -25rem;
    width: 25rem;
    padding: 2.5rem;
    transition: all 250ms ease-in-out;
    z-index: 99;

}

.nav-mobile__wrapper--open {
    left: 0;
}

.mobile__app-logo img {
    width: 5rem;
    height: 5rem;
}

/* 
    ====================
            main
    ====================
 */

.sign-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    /* background: radial-gradient(44.56% 50% at 44.56% 50%, #D5F8F0 0%, #02C39A 100%); */
    height: 90vh;
  
}

.sign-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* padding-right: 8rem; */
    /* background-color: #2E2E2E;
    padding: 3rem 4rem;
    border-radius: 1rem; */
}

/* .sign-left {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


} */

/* .sign-left img {
    width: 70%;
    height: 70%;


} */

.sign-title {
    margin-bottom: 4rem;
    font-size: 4rem;
    color: #aef6e6;
    font-family: "Estedad Black";
}

.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.signin-input {
    background: #131514;
    border:none;
    border-radius: .8rem;
    outline: none;
    padding: 1.3rem 3rem;
    width: 36rem;
    font-family: "Estedad Medium";
    color: #ffffff;
    box-shadow: 2px 2px 12px #02c39992;
    padding-left: 25px;
    background: url("../images/Mask\ group\ \(3\).png") no-repeat right;
    background-size: 20px;

}

.signin-input::placeholder{
    color: #ffffffc8;
}

.signin-forget {
    font-size: 1.2rem;
    color: #ddf8f2;
    cursor: pointer;

}

.sign-btn{
    color: #ffffff;
    background-color: #107d65;
    padding: 1.5rem 11rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 12px #03271f92;

}



.login-input{
    margin-bottom: 2rem;
}


.signin-input--name{
    /* padding-right: 8rem; */
    background: url("../images/Mask\ group\ \(3\).png") no-repeat right;
    background-size: 20px;
    background-position:332px  ;
    
}
.signin-input--email{
    background: url("../images/Mask\ group\ \(5\).png") no-repeat right;
    background-size: 20px;
    background-position:332px  ;
    
}
.signin-input--pass{
    background: url("../images/Mask\ group\ \(4\).png") no-repeat right;
    background-size: 20px;
    background-position:332px  ;

}


/* =============== Scroll Bar================= */

 /* width */
 ::-webkit-scrollbar {
    width: 4px;
    /* background-color: #262F2D; */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #02C39A;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #02C39A;
    border-radius: 10px;
  } 

